table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: lightgrey;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}
td{
	font-size: 18px
}
